:root[data-theme="dark"] {
    /* body */
    --background-color: #131313;
    --background-color-gradient: linear-gradient(to right,#dc3c99, #a927cd, #8629c4, #691bce);
    --text-color: #ececec;

    /* header */
    --header-background: #131313;
    --header-text: #ffffff;
    --header-show-bg:var(--header-background);
    --header-show-border:#ccc;
    --header-hov-ug: scaleX(0);
    --header-hov-bg: #313131;
    --header-hov-text: white;

    /* file upload-box placeholder image */
    --placeholder-image-filter: invert(60%);

    --subtitle-color: #525655;

    /* find-out button */
    --find-out-color: rgb(181, 186, 185);
    --find-out-line:rgb(161, 159, 159);

    /* main description */
    --description-color: #ccc;

    /* file drop box */
    --file-drop-box-border: #8b8b8b;
    --file-drop-text-color: #bdbdbd;
    --file-name:#cbcbcb;
    --blink: rgba(214, 62, 57, 0.966);

    /* email/cloud-storage button (send) */
    --btn-padding:11px 21px;
    --btn-border:0px;
    --button-text-color: rgb(217, 217, 217);
    --button-bg-color: #2a2a2a;
    --button-border-color: var(--background-color);
    --button-hover-text-color: #ffffff;
    --button-before: #7802c6;
    --button-before-sh:transparent;
    --button-hover-color: linear-gradient(to right,#dc3c99, #a927cd, #8629c4, #691bce);
    --email-button: var(--button-hover-color);

    /* theme toggle */
    --toggle-oval-bg: #b9b9b9;
    --toggle-button-bg: #000000;
    --toggle-icon: url('logo/moon.png');

    /* footer */
    --footer-background: #131313;

    /* upload-files button */
    --upload-button-bg: var(--background-color);
    --upload-button-text-color: #d2dcce;
    --upload-button-border: #d2dcce;
    --upload-button-border-hover: #69c52c;
    --upload-button-text-hover: #69c52c;
    --upload-button-hover:var(--background-color);

    /* modal */
    --modal-close: rgb(201, 67, 52);

    /* code-veification-modal */
    --code-v-bg:#191c1e;
    --code-input-bg:#2f2f2f;
    --code-input-border-color: #888;
    --code-input-color: #fff;
    --back-invert:invert(80%);

    /* hamburger-menu bars */
    --bar-bg: #cacaca;

    /* Add More/Remove Buttons */
    --add: linear-gradient(to right,#29c483, #27cd82, #29c464, #67d63f);
    --remove: linear-gradient(to right, #cb498c,  #c84b73, #cf4c68, #d75562);


    --scrollbar-track-color:transparent;
    --scrollbar-thumb-color:#80868b;

        /* cloud */
        --cloud-bg: #1f1f1ff2;
        --icon-invert:invert(85%);
        --name-invert:invert(15%);
        --platform-after:#d2517e;

        /* email */

    --email-bg: #0e0e0ef0;
    --email-border-color: #969696;
    --verify-green:#7dd95b;

    --quill-invert:invert(100%);

    --preview: #aeaeae;

    --box-shadow: 0;
    --user-invert: invert(83%);
    --user-invert-hover: invert(50%);

     /* table transfer history */
    --header-bg: transparent;
    --header-text: #ffffff;
    --row-even-bg: transparent;
    --row-hover-bg: #1c1c1c;
    --border-color: #444;
    
}
