body {
    font-family: 'San Francisco', sans-serif;
    background-color: var(--background-color); 
    color: var(--text-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transform-origin: top left;
    transition: background-color 0.3s ease;
}

header {
    top:10px;
    color: var(--header-text);
    background-color: var(--background-color);
    padding: 10px 80px 5px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease, padding 0.3s ease, margin 0.3s ease;
}

footer {
    background-color: var(--footer-background);
    color: var(--subtitle-color);
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

footer {
    text-align: left;
}

footer p{
    margin-left: 30px;
}

.tnc{
    position:absolute;
    font-size: 0.81rem;
    color: #7f7f7f;
    bottom:36.5%;
    right: 3%;
    cursor: default;
}
.edge .tnc{
    font-size: 0.92rem;
}

.tnc a{
    text-decoration: underline;
    cursor: pointer;
}
.tnc a:hover{
    color: var(--text-color);
}

.header-button {
    color: var(--text-color);
    font-size: 0.95rem;
    transition: all 0.3s ease;
}

.logo-container,
.toggle-container {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, all 0.3s ease;
}
.logo-container{
    margin-right: 10%;
}

.logo-container img {
    height: auto;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, all 0.3s ease;
}

.company-name {
    font-family: 'Varela Round', sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    color: var(--text-color);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.toggle-container {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
    right:0;
    transition: transform 0.3s ease, background-color 0.3s ease, right 0.3s ease;
}

.toggle-checkbox {
    display: none;
}

.toggle-oval {
    width: 100%;
    height: 100%;
    background-color:var(--toggle-oval-bg);
    border-radius: 15px;
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.toggle-button {
    width: 25px;
    height: 25px;
    background-color: var(--toggle-button-bg);
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.toggle-checkbox:checked + .toggle-label .toggle-button {
    transform: translate(15px, -50%);
    background-color: #000000;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.ticon{
    display: flex; 
    justify-content: center;
    align-items: center;
}
.sun-icon,
.moon-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 78%;
    width: auto;
    transition: opacity 0.3s ease;
}

.moon-icon {
    opacity: 0;
    filter: invert(1);
}

.toggle-checkbox:checked + .toggle-label .sun-icon {
    opacity: 0;
}

.toggle-checkbox:checked + .toggle-label .moon-icon {
    opacity: 1;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

input[type="file"] {
    margin-bottom: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    text-align: center;
    margin-top: 50px;
    transition: font 0.2s ease, margin 0.2s ease;
}


.container.S{
    margin-right: 22px;
    margin-top: 25px;
    transition: font 0.2s ease, margin 0.2s ease;
}

.container2{
    text-align: center;
    margin-top: -20px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: -10px;
    transition: font 0.195s ease, color 0.3s ease;
}

.title.S{
    font-size: 18px;
    transition: font 0.195s ease;
}

.transition{
    transition: font 0.2s ease, margin 0.2s ease;
}

.subtitle {
    color: var(--subtitle-color);
    font-size: 18px;
    margin-bottom: 25px;
    transition: font 0.195s ease, color 0.3s ease;
}

.subtitle.S{
    font-size: 12px;
    transition: font 0.195s ease;
}

.description {
    color: var(--description-color);
    margin-bottom: 30px;
    word-wrap: break-word;
    white-space: normal;
    transition: all 0.3s ease;
}

.find-out {
    color: var(--find-out-color);
    position: relative;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 15px;
    transition: color 0.2s cubic-bezier(0.65, 0, 0.076, 1);
}

.find-out::after {
    content: '';
    position: absolute;
    background-color: var(--find-out-line);
    left: 0;
    bottom: -0.2em;
    width: 0;
    height: 2px;
    transition: width 0.35s cubic-bezier(0.65, 0, 0.076, 1);
}

.find-out:hover::after {
    width: 100%;
}

.file-drop-box {
    background-color: var(--background-color);
    border: 4px dashed var(--file-drop-box-border);
    border-radius: 18px;
    padding: 8px;
    margin: 0 auto 20px auto;
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    overflow-y: hidden; 
    overflow-x: hidden;
    z-index: 2;
    transition: transform 0.3s ease, background-color 0.3s ease;
}


::-webkit-scrollbar {
    width: 4.9px; 
    border-radius: 10px; 
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 10px;
}


  .red-text {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.09rem;
    font-weight: 80;
    Color: #d95b76;
    transition: all 0.12s ease;
  }

  .green-text {
    font-family: 'Varela Round', sans-serif;
    color: var(--file-drop-text-color);
    font-size: 1.08rem;
    font-weight: 80;
    transition: all 0.12s ease;
  }
  
  
  .file-list, #uploaded-files-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto; 
    justify-content: space-between;
    row-gap: 5px;
  }


   .file-item, .attachment-item {
    padding: 4px;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 5px;
    border: 1.5px solid transparent;
  }

   .attachment-container {
    padding: 5px;
    width: 26.5%;
    min-width: 210px;
    height: 61vh;
    overflow: hidden;
    border-radius: 12px;
    margin-right: 15px;
    border: 1.5px solid var(--email-border-color);
  }

  .file-item{
    border: 1.5px solid transparent;
    border-radius: 10px;
    background-color: var(--file-item-bg);
    border-bottom-color: var(--file-item-border-bottom);
    border-bottom-width: var(--file-item-border-bottom-width);
  }

  .edge .file-item{
    border-width: 2px;
  }
  .file-details-container {
    display: flex;
    align-items: center; 
}

  .file-icon {
    width: 47px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 3px;
    object-fit: cover;
  }
  
  .file-details {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  

  .file-name {
    font-size: 16px;
    color: var(--file-name);
    margin-bottom: 5px;
    width: 158px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .file-size {
    font-size: 14px;
    color: #8e8e8e;
    margin-bottom: 5px;
  }
  
  .file-actions {
    display: flex;
    gap: 10px;
    margin-top: -15%;
  }
  
  .action-button {
    cursor: pointer;
    font-size: 14px;

  }
  
  .delete-button {
    background-color: transparent;
    color: #dc3545;
    border: none;
  }

  .delete-button:hover {
    color: #d75360;
  }
  .attachment-iconn {
    margin-right: 10px; 
    margin-bottom: 20px;
  }

  .progress-bar {
    width: 95%;
    height: 5px;
    background-color: #dfdfdf;
    position: absolute;
    bottom: 0;
    margin-top: 5px;
    border-radius: 10px;
  }

  .progress {
    width: 0%;
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(to right, #8AAEE0, #638ECB, #395886);
  }

.file-drop-text {
    color: var(--file-drop-text-color);
    text-align: center;
    transition: all 0.3s ease;
    transition: color 0.15s ease, font-size 0.15s ease, font-weight 0.15s ease;

}

#expand-files {
    position: absolute;
    right: 15.5%;
    bottom: 30%;
    cursor: pointer;
    color: var(--file-drop-box-border);
    transition: right 0.2s ease, bottom 0.2s ease;
}

#expand-files:hover {
    color: var(--text-color);
}

.upload #upload-files, .upload #upload-folder {
    background-color: var(--upload-button-bg);
    color: var(--upload-button-text-color);
    padding: 9px 15px 9px 13px;
    border-radius: 20px;
    margin: 8px 0 10px;
    cursor: pointer;
    display: inline-block;
    border: 2px solid;
    border-color: var(--upload-button-border);
    transition: background-color 0.3s ease, margin-bottom 0.3s ease, border-color 0.2s ease, color 0.2s ease;
}

.upload #upload-files {
    padding-right: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: -3px;
}

.upload #upload-folder {
    padding-left: 2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -3px;
}

.upload #upload-files:hover, .upload #upload-folder:hover {
    background-image: var(--upload-button-hover);
    color: var(--upload-button-text-hover);
    border-color: var(--upload-button-border-hover);
}
.upload #upload-folder i{
    margin-left: 7px;
}
.upload #upload-files span{
    margin-right: 7px;
}
#file-upload {
    display: none;
}

.placeholder-image {
    filter: var(--placeholder-image-filter);
}

.highlight {
    font-weight: bold;
    background-image: linear-gradient(to right, #db3195, #8f31cd, #d84f1d, #9c02c6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-right: 5px;
    transition: background-position 0.55s ease;
    background-size: 200% auto;
    background-position: 20% 0;
}

.highlight:hover {
    background-position: 80% 0;
    transition: background-position 0.55s ease;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    gap: 15px;
    transition: all 0.3s ease;
}


.button-container .btn {
    font-size: 0.9rem;
    padding: var(--btn-padding);
    background-color: var(--button-bg-color);
    border: var(--btn-border) solid var(--button-border-color);
    color: var(--button-text-color);
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    margin: 10px;
    transition: background-color 0.3s ease, color 0.2s ease;
}

/* .button-container .btn::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2.8px solid transparent;
    border-color: var(--button-before);
    background-color: var(--button-before-sh);
    border-radius: inherit;
    transform: translate(6px, 6px);
    transition: transform 0.25s, border-color 0.3s ease, background-color 0.3s ease;
    z-index: -1;
}

.button-container .btn:hover::after {
    transform: translate(0);
} */

.button-container .btn:hover {
    background-image: var(--button-hover-color);
    color: var(--button-hover-text-color);
}

.header-buttons
{   cursor: pointer;
    margin-right: auto;
}

.header-button, .time {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    margin-right: 1px;
    position: relative;
    border-radius: 8px;
    transition: transform 0.24s ease, background-color 0.3s ease, color 0.3s ease;
}

.header-button:hover{
    background-color: var(--header-hov-bg);
    color: var(--header-hover-text);
}

.header-button::before {
    content: "";
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 1.5px;
    background: var(--header-text);
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.24s ease;
    bottom: 0;
    left: 0;
}

.header-button:hover::before {
    transform: var(--header-hov-ug);
}

.logo {
    width: 120px;
    height: auto;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

@keyframes fileAppear {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.file-div {
    animation: fileAppear 0.3s ease-in-out forwards;
}

/* Hamburger Menu */
.hamburger-menu {
    display: none;

}

.bar {
    width: 20px;
    height: 3px;
    background-color: var(--bar-bg);
    margin: 5px 0;
    border-radius: 20px;
    transition: transform 0.4s ease;
}

.header-buttons.show {
    display: none !important;
    margin: 0;
    top: 10%;
    position: absolute;
    background-color: var(--header-show-bg);
    border: 1px solid var(--header-show-border);
    border-radius: 20px 0 0 20px;
    padding: 10px;
    width: 90%;
    z-index: 12099;
    overflow-x: hidden;
    height: 80%; 
    
}

.header-buttons.show .header-button {
    display: block; 
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px; 
}

.hamburger-menu.active .bar {
    transform: rotate(-45deg) translate(-50%, -50%);
}

.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .bar:last-child {
    transform: rotate(45deg) translate(-50%, -50%);
}
.hamburger-menu.active .bar{
    margin-right: -4px;
    margin-left: 4px;
}

.file-drop-box{
    transition: all 0.3s ease;
}

.section {
    background-color: var(--background-color);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease, background-color 0.3s ease;
}

.active {
    transform: translateX(0);
}

.next {
    transform: translateX(100%);
}

.prev {
    transform: translateX(-15%);
    animation-name: opacityChange;
    animation-duration: 0.4s;
    opacity: 0;
}

.section.S1.prev .file-drop-box #selected-files-container {
transition: transform 0.5s ease;
}

.section.S1.active .file-drop-box #selected-files-container {
    transition: transform 0.2s ease;
}

.section.S1.prev .file-drop-box #selected-files-container {
transform: translateX(100%);
}

.section.S4 .email-compose-container .attachment-container .file-item {
  transform: translateX(-300%);
}

.section.S4.active .email-compose-container .attachment-container .file-item {
  transform: translateX(0%);
}

.email-compose-container .attachment-container .file-item{
  transition: transform 0.55s ease;
}

@keyframes opacityChange {
0% { opacity: 0.8; }
50% { opacity: 0.3; }
100% { opacity: 0;}
}
.clear-all-button {
z-index: -1;
position: absolute;
top: 29.2%;
left: 50%;
width: 35px;
height: 35px;
margin: 10px;
line-height: 35px;
background-image: var(--remove);
color: white;
border: none;
border-radius: 50%;
padding: 3px 5px;
text-align: left;
overflow: hidden;
visibility: hidden;
transition: left 0.45s ease-in-out, width 0.3s ease, border-radius 0.3s ease, content 0.5s ease;
}

.clear {
visibility: hidden;
position: absolute;
left: 27%;
z-index: 1;
color: white;
white-space: nowrap;
bottom: 0.3px;
left: 31px;
font-size: 15px;
}

.clear-all-button:hover {
width: 120px;
border-radius: 30px;
text-align: left;
}
.clear-all-button:hover .clear{
visibility: visible;
width: auto;
}

.add-files-button {
z-index: -1;
position: absolute;
top: 20%;
left: 75%;
width: 35px;
height: 35px;
line-height: 35px;
margin: 10px;
background-image: var(--add);
color: white;
border: none;
border-radius: 50%;
padding: 3px 5px;
text-align: left;
overflow: hidden;
visibility: hidden;
transition: left 0.45s ease-in-out, width 0.3s ease, border-radius 0.3s ease, content 0.5s ease;
}

.add {
visibility: hidden;
position: absolute;
left: 27%;
z-index: 1;
color: white;
white-space: nowrap;
bottom: 0.3px;
left: 31px;
font-size: 15px;
}

.add-files-button:hover {
width: 110px;
border-radius: 30px;
text-align: left;
}
.add-files-button:hover .add{
visibility: visible;
width: auto;
}
.add-files-button i {
margin-left: 3.8px ;
font-size: 18px; 
}
.clear-all-button i {
margin-left: 3.8px ;
font-size: 18px;
}

.loader {
    border: 12px solid #a0a0a0; 
    border-top: 11px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: auto;
    display: none; 
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.transferHistoryError {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.main, .completed {
    display: none;
}

.main.open, .completed.open {
    display: block;
}
