.userAccount {
    display: none;
    width: 45px;
    height: auto;
    cursor: pointer;
    position: relative;
    margin-right: 1%;
    top: 3px;
}

.userAccount img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: var(--user-invert);
}

.user-dropdown-menu p {
    display: flex;
    justify-content: center;
    cursor: default;
    border-bottom: 2px solid rgba(0, 0, 0, 0.229);
    padding-bottom: 8px;
    padding-top: 5px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--user-dropdown-bg);
    position: absolute;
    top: -8px;
    left: calc(50% + 65px);
    transform: translateX(-50%);
}

.user-dropdown-menu {
    display: none;
    position: absolute;
    width: 410px;
    max-width: 85%;
    background-color: var(--user-dropdown-bg);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    z-index: 10000;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    transition: box-shadow 0.2s ease;
}

.user-dropdown-menu a {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 15px; 
    border-radius: 10px;
    line-height: calc(inherit + 20px);
  }

  .user-dropdown-menu a i {
    margin-right: 10px;
    font-size: large;
  }

.user-dropdown-menu a:hover {
    background-color: var(--user-hover);
}

.search-and-filter {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 45px;
    right: 70px;
}

#filter-by {
margin-left: 10px;
padding: 5px 14px;
background-color: #638ecb;
border-radius: 30px;
cursor: pointer;
color: black;
display: flex;
gap: 5px;
align-items: center;
}

#search-bar {
    padding: 7px 30px 7px 10px; 
    border: 2px solid var(--text-color);
    border-radius: 30px;
    cursor: text;
    background-color: transparent;
    color: var(--text-color);
    background-image: var(--search-image); 
    background-repeat: no-repeat;
    background-position: 8px center; 
    background-size: 19px;
    text-indent: 22px;
    filter: invert(0%);
  }
  
  #filter-window {
    visibility: hidden;
    background-color: var(--filter-bg);
    border-radius: 4px;
    padding: 15px;
    min-width: 0px;
    position: absolute;
    right: 20px;
    z-index: 11000;
    overflow: hidden;
    width: 0;
    height: 0;
    transition: width 0.07s ease, height 0.07s ease, background-color 0.2885s ease;
  }
  
  .filter-group {
    margin-bottom: 15px;
    position: relative;
  }
  
  .filter-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-color);
    position: relative;
  }
  
  .filter-select,
  .date-input {
    position: relative;
    width: 100%;
    padding: 8px;
    border-color: transparent;
    border-radius: 3px;
    font-size: 14px;
    background-color: var(--filter-input);
    color: var(--text-color);
    transition: background-color 0.285s ease, color  0.285s ease;
  }
  
  .date-range {
    position: relative;
    display: flex;
    margin-bottom: 5px;
  }
  
  .date-range label {
    position: relative;
    margin-right: 10px;
    color: #7c7c7c;

  }
  
  .filter-button {
    position: relative;
    background-color: #638ecb;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.2s ease;
  }
  
  .filter-button:hover {
    background-color: #337ab7;
  }

  .filter-checkboxes {
    display: flex;
    flex-direction: column;
    color:var(--filter-options);
  }

  .filter-checkboxes ckeckbox {
    border-radius: 50;
    
  }
  
  #clear-filters {
    background-color: transparent;
    padding: 8.5px 15px;
    border: 2px solid #638ecb;
    color: #638ecb;
    transition: color 0.2s ease, border-color 0.2s ease;
  }

  #clear-filters:hover {
    color: #337ab7;
    border-color: #337ab7;
  }


.user-dropdown-menu a {
    cursor: pointer;
}

.connected-accounts-list {
    display: none;
    padding: 0;
    padding-top: 10px;
    transition: max-height 0.3s ease;
    overflow: hidden;
    cursor: pointer;
}

#connectedAccountsContainer.open .connected-accounts-list {
    display: block;
    max-height: 200px; 
}

.connected-account{
    display: flex !important; 
    flex-direction: row !important;
}

.connected-account .account-data {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    flex-direction: column;
}

.connected-accounts-list a:hover {
background-color: var(--user-dropdown-bg);
}

.connected-account img {
    vertical-align: middle; 
}

.icon-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px; 
    background-color: rgb(189, 189, 189);
    transition: background-color 0.3s ease;
}

.connected-account:hover .icon-container {
    background-color: var(--hover-color);
}

.icon-container img {
    width: 20px; 
    height: 20px;
}

.account-data .platformName {
font-size: 14px;
color: #7c7c7c;
}

#connectedAccountsList {
  overflow-y: auto;
}
