/* Medium-sized screens */
@media only screen and (min-width: 700px) and (max-width: 950px) {
    .file-drop-box {
        padding: 10px;
    }

    .modal {
        width: 600px;
        height: auto;
        overflow-y: auto;
    }
    .step-description {
        min-height: 15vh;
    }


    .upload-button {
        margin-top: 5px;
    }

    input[type="file"] {
        margin-bottom: 5px;
    }

    .logo {
        width: 100px;
    }

    .company-name {
        font-size: 0.9rem;
    }

    .placeholder-image {
        width: 40px;
    }

    #selected-files-container {
        margin-top: 3px;
    }

    .description {
        margin-bottom: 15px;
        margin-right: 15px;
        margin-left: 15px;
    }

    progress {
        width: 62%;
        margin-left: 30%;
       transition: width;
    }

    .message {
        right: 360px;
    }

    #expand-files {
        right: 14.2%;
        bottom: 31.6%;
    }
}

@media only screen and (min-width: 950px) and (max-width: 1050px) {
    .modal {
        width: 700px;
        height: auto;
    }
}

@media only screen and (min-width: 650px) and (max-width: 800px) {
    .email-compose-container{
        min-width: 570px;
    }

    .email-compose-container .email-compose {
        width: 59%;
    }

    #editorPlaceholder{
        top:45%;
        left:43.8%;
        transition: left 0s ease;
    }

    .sort-dropdown {
        position: absolute;
        right: 0%;
        left: 10%;
        top: 2%;
      }
}

@media only screen and (min-width: 800px) and (max-width: 950px) {
    .email-compose-container{
        min-width: 670px;
    }

    .email-compose-container .email-compose {
        width: 65%;
    }

    #editorPlaceholder{
        top:45%;
        left:37.6%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 950px) {
    header {
        padding: 10px 40px 5px 40px;
    }

}